<section class="card">
  <div class="container card__container">
    <h3 class="card__title">Решение для тех,кто хочет работать на себя</h3>
    <div class="card__cards-box">
      <div class="card__item item item__blue">
        <p class="item__title item__title-blue">бизнес-модель</p>
        <img src="img/svg/card_arrow.svg" alt="стрелка по диаграмме вверх" class="item__img">
        <p class="item__descr">Ежемесячно увеличивайте прибыль и достигайте поставленных целей, используя наши стратегии
          и рекомендации. Нет никаких
          ограничений по уровню дохода/p>
      </div>
      <div class="card__item item">
        <p class="item__title">высокий доход</p>
        <img src="img/svg/card_hand.svg" alt="стрелка по диаграмме вверх" class="item__img">
        <p class="item__descr">Не нужно искать продукт, технологии и каналы продвижения. Все необходимые инструменты для
          быстрого и эффективного
          запуска собственного бизнеса уже готовы</p>
      </div>
      <div class="card__item item">
        <p class="item__title">свободный график</p>
        <img src="img/svg/calculator.svg" alt="стрелка по диаграмме вверх" class="item__img">
        <p class="item__descr">Управляйте своим временем
          и работайте в комфортном для себя режиме. У вас появится возможность путешествовать, чаще видеться с близкими
          и больше
          отдыхать</p>
      </div>
    </div>
    <div class="card__btn-box">
      <button class="btn-yellow card__btn btn-reset"><a href="#">зарегистрироваться</a></button>
      <p class="card__descr card__descr-bottom">Регистрируйтесь в системе, чтобы узнать подробнее о доходах</p>
    </div>
  </div>
</section>
