<section class="descr">
  <div class="container descr__container">
    <h3 class="descr__title">Что ЕЩЕ вы получите</h3>
    <p class="descr__subtitle">после регистрации</p>
    <div class="descr__list">
      <div class="descr__item">
        <img src="img/diagram.png" alt="Диаграммы" class="descr__img">
      </div>
      <div class="descr__item-grid">
        <div class="descr__grid-box">
          <img src="img/svg/globe.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Пошаговое онлайн-обучение
            и руководство по запуску</p>
        </div>
        <div class="descr__grid-box">
          <img src="img/svg/icon2.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Ваш личный веб-сайт для продвижения в интернете</p>
        </div>
        <div class="descr__grid-box">
          <img src="img/svg/icon1.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Ваш личный наставник поможет решить любой вопрос</p>
        </div>
        <div class="descr__grid-box">
          <img src="img/svg/eco 1.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Сертифицированная, качественная эко-продукция</p>
        </div>
        <div class="descr__grid-box">
          <img src="img/svg/profit 1.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Готовая система масштабирования бизнеса</p>
        </div>
        <div class="descr__grid-box">
          <img src="img/svg/hand-shake 2.svg" alt="" class="descr__item-img">
          <p class="descr__item-descr">Сильная поддержка команды
            и бизнес-партнеров</p>
        </div>
      </div>
    </div>
    <div class="descr__bottom bottom">
      <div class="bottom__right">
        <h3 class="bottom__title">выход на новый уровень жизни</h3>
        <p class="bottom__text">В партнерстве с нами вы посмотрите на Мир под другим углом — почувствуете себя в зоне
          комфорта, личностного роста и
          финансового изобилия</p>
        <div class="bottom__bottom-text">
          <img src="img/svg/cross.svg" alt="Крестик">
          <span>Премиальные бонусы</span>
        </div>
      </div>
      <div class="bottom__left">
        <p class="bottom__subtitle">Привилегии для партнеров</p>
        <div class="bottom__link">
          <div class="bottom__item">
            <img src="img/Group 193.png" alt="Иконка люди" class="bottom__img">
            <p class="bottom__decsr">Участие в закрытом клубе предпринимателей</p>
          </div>
          <div class="bottom__item">
            <img src="img/Group 194.png" alt="Иконка рука" class="bottom__img">
            <p class="bottom__decsr">Премии от 10 000 до 1 млн. рублей</p>
          </div>
          <div class="bottom__item" style="background-image: url('../img/svg/decor_bg.svg') ;">
            <img src="img/svg/plane_white.svg" alt="Иконка самолет" class="bottom__img">
            <p class="bottom__decsr">Путешествия по миру</p>
          </div>
          <div class="bottom__item">
            <img src="img/Group 192.png" alt="Иконка медали" class="bottom__img">
            <p class="bottom__decsr">Статусные значки из драгоценных металлов</p>
          </div>
           <div class="bottom__item">
            <img src="img/Group 222.png" alt="Иконка машина" class="bottom__img">
            <p class="bottom__decsr">Авто и недвижимость от компании</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
