<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="img/svg/logo.svg" alt="Logo Global Team">
      </div>
      <ul class="list-reset footer__sotial-list">
        <li class="footer__sotial-item">
          <a href="#" class="footer__sotial-link">
            <svg class="">
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
            <!-- <img src="img/svg/insta.svg" alt="В контакте" class="sotial__icon-img"> -->
          </a>
        </li>
        <li class="footer__sotial-item">
          <a href="#" class="footer__sotial-link">
            <svg class="">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
            <!-- <img src="img/svg/vk.svg" alt="В контакте" class="sotial__icon-img"> -->
          </a>
        </li>
        <li class="footer__sotial-item">
          <a href="#" class="footer__sotial-link">
            <svg class="">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
            <!-- <img src="img/svg/fb.svg" alt="В контакте" class="sotial__icon-img"> -->
          </a>
        </li>
        <li class="footer__sotial-item">
          <a href="#" class="footer__sotial-link">
            <svg class="">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">
        ©2021 «Company name» | Разработано - Effex-it.com
      </div>
      <div class="footer__text">
        <span class="footer__descr">Пользовательское соглашение</span>
        <span class="footer__descr">Политика конфиденциальности</span>
      </div>
    </div>
  </div>
</footer>
