<header class="header">
  <div class="container header__container">
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="img/Logo.png" alt="">
      </a>
      <nav class="nav header__menu" data-nav>
        <ul class="header__list list-reset">
          <li>
            <a href="#" class="header__link">Возможности</a>
          </li>
          <li>
            <a href="#" class="header__link">Преимущества</a>
          </li>
          <li>
            <a href="#" class="header__link">Отзывы</a>
          </li>
          <li>
            <button class="btn-reset header__link" data-graph-path="card">Контакты</button>
          </li>
          <li>
            <a href="#" class="btn-transparent header__btn-transparent"><span>Вход</span></a>
          </li>
          <li>
            <a href="#" class="btn-blue header__btn-blue">Регистрация</a>
          </li>

        </ul>
      </nav>
      <div class="header__btns">
        <a href="#">
          <img src="img/svg/Exclude.svg" alt="Войти" class="header__hidden">
        </a>
        <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>

    </div>
  </div>
</header>
