<section class="hero">

  <div class="container hero__container">
    <div class="hero__title-box">
      <h1 class="hero__title">запустите свой бизнес
      </h1>
      <h2 class="hero__title-yellow"><span>за 1 день</span></h2>
      <img class="hero__title-img" src="img/svg/title.svg" alt=" запись не выходя из дома">
      <p class="hero__descr">Воспользуйтесь высокодоходной бизнес-моделью и получайте прибыль онлайн. Узнайте все
        подробности программы после
       <span>бесплатной</span> регистрации.</p>

      <div class="hero__buttons">
        <div class="btn-yellow hero__btn-yellow">
          <a href="#">зарегистрироваться</a>
        </div>
        <div class="btn-transparent hero__btn-transparent">
          <a href="#">что мы предлагаем</a>
        </div>
      </div>
    </div>

      <div class="hero__about about">
        <div class="about__list-hero list-reset">
          <div class="about__link">
            <img src="img/svg/money.svg" alt="Деньги">
            <p class="about__descr">Минимальные риски
              и вложения</p>
          </div>
          <div class="about__link">
            <img src="img/svg/levse.svg" alt="Листья">
            <p class="about__descr">Натуральные
              продукты для здоровья</p>
          </div>
          <div class="about__link">
            <img src="img/svg/plane.svg" alt="Самолет">
            <p class="about__descr">Бизнес-обучение
              и путешествия</p>
          </div>
          <div class="about__link">
            <img src="img/svg/hands.svg" alt="Рукопожатие">
            <p class="about__descr">Поддержка наставника</p>
          </div>
        </div>
      </div>
    <div class="hero__filter"></div>
  </div>
</section>
