<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="card">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="modal">
        <div class="modal__contacts">
          <p class="modal__title">Есть вопросы?</p>
          <p class="modal__subtitle">C вами на связи:</p>
          <div class="modal__img-box">
            <div class="modal__img">
              <img src="img/visitcard.png" alt="Котакты">
            </div>
            <div class="modal__contacts-list">
              <div class="modal__contacts-item">
                <img src="img/svg/user.svg" alt="Иконка пользователь" class="contacts__image">
                <span class="modal__contacts-item">Johne Doe</span>
              </div>
              <div class="modal__contacts-item">
                <img src="img/svg/email.svg" alt="Иконка пользователь" class="contacts__image">
                <span class="modal__contacts-item">johndoe@gmail.com</span>
              </div>
              <div class="modal__contacts-item">
                <a href="tel:+79839948212">
                  <img src="img/svg/phone.svg" alt="Иконка пользователь" class="contacts__image">
                  <span class="card__contacts-item">+7 983 994 82 12</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-reset modal__sotial-list">
          <li class="modal__sotial-item">
            <a href="#" class="modal__sotial-link">
              <img src="img/svg/twitter.svg" alt="" class="card__sotial-img">
            </a>
          </li>
          <li class="modal__sotial-item">
            <a href="#" class="modal__sotial-link">
              <img src="img/svg/fb.svg" alt="" class="card__sotial-img">
            </a>
          </li>
          <li class="modal__sotial-item">
            <a href="#" class="card__sotial-link">
              <img src="img/svg/vk.svg" alt="" class="card__sotial-img">
            </a>
          </li>
          <li class="modal__sotial-item">
            <a href="#" class="modal__sotial-link">
              <img src="img/svg/insta.svg" alt="" class="modal__sotial-img">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
