<section class="price">
  <div class="container price__container">
    <div class="price__decor"></div>
    <div class="price__left">
      <img src="img/men.png" alt="Мужчина с ноутбуком в руках" class="price__img">
    </div>
    <div class="price__right">
      <span class="cross-yellow price__cross-yellow">x</span>
      <h2 class="price__title">получайте стабильный доход</h2>
      <p class="price__subtitle">и повышайте качество жизни</p>
      <p class="price__descr">Мы предлагаем вам готовую систему запуска , ведения и развития онлайн-бизнеса с нуля.
        <span>В неё входят:</span>
      </p>
      <ul class="price__list list-reset">
        <li class="price__item"><span>эффективные инструменты интернет-маркетинга,</span></li>
        <li class="price__item"> <span>инновационные эко-продукты для здоровья,</span></li>
        <li class="price__item"> <span>система бизнес-обучения и личностного развития</span></li>
      </ul>
      <div class="price__price-box">
        <div class="price__price">
          <p class="price__price-total">500$</p>
          <span class="price__price-mounth">в месяц</span>
        </div>
        <p class="price__descr price__descr-bottom">Используя наш опыт и знания, вы сможете легко
          стать интернет-предпринимателем с доходностью
          от 500$ в месяц в нише эко-продуктов</p>
      </div>
      <span class="cross-blue
      ">x</span>
    </div>
  </div>
</section>
