html {
  box-sizing: border-box;
  // height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-weight: 400;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}


img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
.btn-yellow{
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 24px 36px;
  height: 68px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(95.03deg, #F09642 0%, #F0DF42 145.26%);
  border-radius: 40px;
  color: var(--light-color);
  cursor: pointer;
}
.btn-transparent {
  font-family: 'Montserrat';
  background: transparent;
  text-transform: uppercase;
  padding: 24px 36px;
  font-weight: 500;
  height: 68px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 40px;
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
 z-index: 10;
}
.btn-blue {
  font-family: 'Montserrat';
  text-transform: uppercase;
  background:var(--blue-color);
  padding: 24px 36px;
  font-weight: 700;
  height: 68px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 40px;
  color: var(--light-color);
  cursor: pointer;
}
.cross-yellow{
  font-weight: 500;
  font-size: 16px;
  line-height: 191.2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F09642;
  transform: rotate(41.32deg);
  cursor: pointer;
  z-index: 11;
}
.cross-blue{
  font-weight: 500;
  font-size: 16px;
  line-height: 191.2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #B9E5EE;
  transform: rotate(41.32deg);
}
.cross-black {
  font-weight: 500;
  font-size: 16px;
  line-height: 191.2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color);
  transform: rotate(41.32deg);
}
